body {
  font-size: 17px;
  padding-top: 5rem;
  /* coz navbar */
  margin-bottom: 55px;
}

.affix {
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-brand img {
  width: 24px;
}

.site-map p {
  margin-bottom: 0;
}