
name: Deploy GhPages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: Build
        env: 
          FLATMARK_BASE_URL: https://sake92.github.io/sharaf
        run: |
            FLATMARK_VERSION=0.0.28
            curl -L https://github.com/sake92/flatmark/releases/download/v${FLATMARK_VERSION}/flatmark_${FLATMARK_VERSION}_amd64.deb -o flatmark.deb
            sudo dpkg -i flatmark.deb
            flatmark build -i docs
            tree -h docs/_site
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/_site
          force: true
          clean: true
